
  
<ion-content padding text-center *ngIf="lugares">
    <ion-title>Payment summary</ion-title>

    <ion-list >
        <ion-item>
            
          <ion-label>Select the place</ion-label>
          <ion-select [(ngModel)]="lugarM">
            <ion-option *ngFor="let lugar of lugares.Lugar" [value]="lugar">{{lugar.Lugar}}</ion-option>
           
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      <br>
   
      <ion-item *ngIf="lugarM">
         
          <br>
        <div>
      <h2 class="inline-p" >Time: </h2><p class="inline-p" >{{lugarM.duracion}}</p>
      </div>
      <br>
      <div>
      <h2 class="inline-p" >People limit: </h2><p class="inline-p" >{{lugarM.limite_personas}}</p>
      </div>
      <br>
      <div>
      <h2>Amount: </h2><p>{{lugarM.costo}}</p>
      </div>
    </ion-item>
       <br> 
       <br>
      
            <button style="float:right" item-end ion-button color="secondary" (click)="paypalPayment();">Continue to payment</button>
        
</ion-content>
